/* Overall style */

body {
    background-color: rgb(169, 246, 255);
    font-family: "Open Sans", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 60px;
    padding-right: 5px;
}

/* Main Game layout */
.user-input1 {
    display: block;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

#error-message{
    display: none;
}

/* Style for message when no user input & correct answer when not guessed */
.user-log-error {
    display: none;
    font-size: 60%;
    color: rgb(244, 33, 33);
    padding-top: 1.2rem;
    padding: 1.2rem 0.5rem 0;
}

.user-input2 {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.container {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    margin-bottom: 100px;
    /* Adjust the margin value as needed */

}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: rgb(65, 199, 65);
    font-weight: bold;
}

#incorrect {
    color: rgb(211, 56, 56);
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.hide {
    display: none;
}

/* --------- Buttons */
#next-btn{
    display: inline;
    margin-left: 10px;
}
#start-btn{
    display: inline;
    margin-left: 10px;
}
.btn {
    width: 220px;
    height: 60px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    margin: 10px;
    gap: 5px;
    border-radius: 5px;
    /*wait for visual effects for border radius*/
    color: #445361;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--gray {
    margin-top: 25px;
    background-color: #3c4956;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}



/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

.correct {
    background-color: rgb(184, 255, 184);
}

.wrong {
    background-color: rgb(251, 170, 170);
}

.white-text {
    color: white;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    display: none;
}

.footer .container {
    max-width: 960px;
    margin: 0 auto;
}

/* Show the footer when the user scrolls down */

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}