/* Overall style */

body {
    background-color: rgb(169, 246, 255);
    font-family: "Open Sans", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 60px;
    padding-right: 5px;
}

/* Main Game layout */
.user-input1 {
    display: block;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

#error-message {
    display: none;
}

/* Style for message when no user input & correct answer when not guessed */
.user-log-error {
    display: none;
    font-size: 75%;
    color: rgb(244, 33, 33);
    padding-top: 1.2rem;
    padding: 1.2rem 0.5rem 0;
}

.user-input2 {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.container {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    margin-bottom: 100px;
    /* Adjust the margin value as needed */

}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: rgb(65, 199, 65);
    font-weight: bold;
}

#incorrect {
    color: rgb(211, 56, 56);
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.hide {
    display: none;
}
/*Username input*/
.username-input{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Buttons*/
.button-level{
    background-color: rgb(205, 244, 248);
    color: #445361;
    width: 220px;
    height: 60px;
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    margin-left: 20px
}

.btn {
    width: 220px;
    height: 60px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    margin: 10px;
    gap: 5px;
    border-radius: 5px;
    /*wait for visual effects for border radius*/
    color: #445361;
}

.btn:focus {
    outline: none;
}

#next-btn {
    display: inline;
    margin-left: 10px;
}

#start-btn {
    display: inline;
    margin-left: 10px;
}

.start-btn,
.next-btn {
    pointer-events: auto !important;
    cursor: pointer;
    width: 220px;
    height: 60px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    margin: 10px;
    gap: 5px;
    border-radius: 5px;
    /*wait for visual effects for border radius*/
    color: #445361;
}
/*Timer*/
#timer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8rem;
  }
#timer {
    font-size: 20px;
    font-weight: bold;
    color: #445361;
  }
/*Footer*/
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(169, 246, 255);
    padding: 20px 0;
    text-align: center;
}

.footer-left img {
    width: 20px;
    height: 20px;
}

.footer .container {
    max-width: 960px;
    margin: 0 auto;
}

/* Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }


    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }


    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

.correct {
    background-color: rgb(184, 255, 184);
    pointer-events: none;
}

.wrong {
    background-color: rgb(251, 170, 170);
    pointer-events: none;
}

.white-text {
    color: white;
}

/*Footer*/
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(169, 246, 255);
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .username-input{
        width: 100px;
        height: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .button-level{
        background-color: rgb(205, 244, 248);
        color: #445361;
        width: 10px;
        height: 30px;
        border-radius: 5px;
        letter-spacing: 1.2px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .question-area {
        padding: 10px 0;
    }

}